.botaoContato {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
    text-align: center;
}

.botaoContato:hover{
    color: #795BA6;
    text-decoration: underline dotted whitesmoke;
}

@media (max-width: 1440px){
    .botaoContato{
        font-size: 1.1rem;
    }
}

@media (max-width: 500px){
    .botaoContato{
        font-size: 1rem;
        padding: 1.2rem .3rem;
    }
}

@media (max-width: 350px){
    .botaoContato{
        font-size: .9rem;
        padding: 1rem .2rem;
    }
}
