.developerCard{
    display: flex;
    justify-content: center;
}

.developerCard img{
    width: 15rem;
    border: 4px solid #66439B;
    border-radius: 50%;
}

@media (max-width: 650px) {
    .developerCard img{
        width: 10rem;
    }
}
