.navbarPrincipal{
    width: 100%;
    background-color: #025159;
    position: fixed;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
    z-index: 999;
}

.navbarContainer{
    display: flex;
    justify-content: space-around;
}

.navbarPrincipal div{
    display: flex;
    justify-content: center;
}

.navigatorNav{
    display: flex;
    justify-content: center;
    padding: 0 8rem;
}

.socialMediaNav section{
    display: flex;
    justify-content: end;
}

.socialMediaNav a {
    padding: 1rem;
}

.socialMediaNav img{
    width: 2rem;
}

@media (max-width: 1440px) {
    .socialMediaNav a {
        padding: .8rem;
    }
    
    .socialMediaNav img{
        width: 1.5rem;
    }
}

@media (max-width: 955px){
    .navigatorNav{
        display: flex;
        justify-content: start;
        padding-left: 0%;
    }
    .navbarContainer{
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 860px) {
    .navbarPrincipal{
        width: 100%;
    }

    .navigatorNav{
        padding: 0%;
    }
}

@media (max-width: 661px) {
    .navbarPrincipal div{
        display: none;
    }
}
