.carouselSliderDiv{
    width: 100%;
    height: 100vh;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(203%2c 203%2c 205%2c 1)'%3e%3c/rect%3e%3cpath d='M682.185%2c630.894C717.27%2c630.77%2c752.332%2c616.51%2c769.472%2c585.897C786.285%2c555.869%2c778.084%2c519.872%2c761.108%2c489.936C743.851%2c459.504%2c717.168%2c432.243%2c682.185%2c431.971C646.835%2c431.696%2c618.655%2c458.003%2c601.109%2c488.692C583.714%2c519.116%2c576.465%2c556.072%2c593.823%2c586.517C611.32%2c617.205%2c646.859%2c631.019%2c682.185%2c630.894' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M733.226756431198 541.603312062624L815.196621448341 470.3479955026353 743.9413048883523 388.3781304854923 661.9714398712093 459.63344704548103z' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1132.3343494621422 167.10765332607923L1073.7464726095814 102.03922407635353 1008.6780433598556 160.62710092891444 1067.2659202124164 225.69553017864013z' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M206.3442147680099 462.60624892409203L54.43493158819376 419.0469629183517 10.875645582453416 570.9562460981679 162.78492876226954 614.5155321039082z' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1072.8513407363312 121.04656990825754L1203.567137249672 219.5479877832982 1171.3527586113719-9.669226605083367z' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1093.265%2c643.005C1144.7%2c642.58%2c1191.559%2c614.627%2c1217.471%2c570.194C1243.586%2c525.414%2c1246.608%2c469.807%2c1220.329%2c425.123C1194.387%2c381.012%2c1144.438%2c358.737%2c1093.265%2c359.001C1042.584%2c359.262%2c994.504%2c382.949%2c968.451%2c426.422C941.659%2c471.129%2c939.428%2c527.119%2c965.452%2c572.277C991.51%2c617.495%2c1041.078%2c643.436%2c1093.265%2c643.005' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M279.157%2c195.249C325.35%2c193.755%2c364.501%2c165.749%2c388.636%2c126.334C414.076%2c84.787%2c430.662%2c31.843%2c404.301%2c-9.126C379.196%2c-48.142%2c325.505%2c-45.902%2c279.157%2c-43.81C237.708%2c-41.939%2c195.712%2c-32.808%2c172.162%2c1.352C145.114%2c40.585%2c133.663%2c92.113%2c156.686%2c133.835C180.335%2c176.691%2c230.235%2c196.831%2c279.157%2c195.249' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M811.3708792753193 145.97796463360504L876.4765857182564 162.2106403947169 868.2727461384557 56.435742849755485z' fill='rgba(121%2c 91%2c 166%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");    border: 0px solid whitesmoke;
    border-radius: .5rem;
}

.carouselSliderDiv h1{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
    color: #025159;
    text-shadow: 0 6px 1px rgb(136, 136, 136);
}

.carouselSlider{
    height: 50vh;
    border: 2px #66439B solid;
    border-radius: 1rem;
}

.alice-carousel__wrapper{
    border: 0px black solid;
    border-radius: .5rem;
}

.imgHardSkills{
    border-radius: 50%;
    padding: 8px;
}

.containerCarousel{
    padding-top: 10rem ;
}